<div id="<%= dom_id cathegory %>">
  <p>
    <strong>Icon:</strong>
    <%= cathegory.icon %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= cathegory.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cathegory.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cathegory.user_id %>
  </p>

</div>
